@media (max-width: 1000px) {
body {
    background-image: url(imgs/bc-dawn.png);
    background-position: top center; 
    background-size: cover; 
    }
}
  
@media (max-width: 680px) {
body {
    background-image: url(imgs/bc-dawn.png);
    background-position: top center; 
    background-size: cover; 
    }

header > #COPINHA {
    width: 15vh;
    height: auto;
    
    margin: 0vh 5vh;
    }

header > a > #RDC {
    width: auto;
    height: 6vh;

    margin: 0vh 5vh;
    }

.player {
    padding: 1vh 1vh;
    padding-bottom: 2vh;
    margin: 1vh 1vh;
    }
     
.player img {
    width: 17vh;
    height: 17vh;

    margin: 1vh 1vh;    
    }
}