/* BODY */

html, body {
  height: 100%;
  min-width: 480px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  
  background-image: url(imgs/bc-vs.png), url(imgs/bc-dawn.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, top right; 
  background-attachment: fixed, fixed; 
  background-size: contain;
  background-color: var(--roxo2);
  
  height: 100%;
  margin: auto;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 5vh 0vh;
  padding-top: 3vh;
}

header > #COPINHA {
  width: 20vh;
  height: auto;

  margin: 0vh 5vh;
}

#COPINHA:hover, #RDC:hover {
  transform: scale(1.2);
  transition-duration: 500ms;
}

#COPINHA:not(:hover), #RDC:not(:hover) {
  transform: scale(1);
  transition-duration: 250ms;
}

header > a > #RDC {
  width: auto;
  height: 8vh;

  margin: 0vh 5vh;
}

/* MAIN */

main {
  height: auto;
}

#rankingForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  height: auto;
  width: 100%;
  margin: 0vh auto 0vh auto;

  background-color: var(--roxotransparent);
  color: black;
}

.rankingSelect {
  background-color: white;

  text-align: center;
  

  font-family: var(--fontTitle2);
  font-weight: 800;
}

/* PLAYER */

.player {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1vh 1vh;
  padding-bottom: 2vh;
  margin: 2vh 4vh;
}

.player p {
  color: var(--cinza6);
  text-align: center;
  font-family: var(--fontTitle2);
  font-weight: 100;

  margin: 2vh 0vh 0vh 0vh;
}

.player img {
  width: 20vh;
  height: 20vh;

  margin: 1vh 1vh;
}

/* AVG */

#avgConfirm {
  display: flex;
  flex-direction: column;
  background-color: var(--roxo1);
  
  height: auto;
  width: 60vh;

  margin: 20px auto;
}

#avgConfirm #avgmmr {
  padding: 15px 5px;
  color: var(--cinza6);
  font-family: var(--fontTitle2);
  text-align: center;
}

img#imgavg {
  width: 18vh;
  height: 18vh;
}

.textTitle {
  text-align: center;
  
  font-size: 1.3em;
  color: var(--laranja1);
  font-family: var(--fontTitle2);
  font-weight: 800;
}

.textsubtitle {
  text-align: center;
  font-size: 0.8em;
  color: var(--cinza5);
  font-family: var(--fontText1);
  font-weight: 100;
}

#divContent {
  display: flex;

  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
}

#div1, #div2 {
  padding: 15px 10px;
}

/* FOOTER */

footer {
  margin: 3vh auto;
  margin-top: auto;
  padding-bottom: 1vh;
}

footer a {
  text-decoration: none;
  color: var(--cinza6);
}

footer p {
  color: var(--cinza6);
  font-weight: 900;
  font-family: var(--fontTitle2);
}

footer a:hover {
  color: var(--cinza5);
}
