@media (max-width: 680px) {
#rankingForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player {
    flex-direction: row;
    justify-content: space-between;
    
    height: 16vw;
    width: 100%;
    max-width: 1216px;
    margin: 0.4vh;
}

.player > p {
    font-size: 1.8vw;
}

.player > .playersmmr-rank {
    color: var(--cinza6);
    margin: 2vw 10vw -2vw 0vw;
}

.player > .playersmmr-text {
    font-size: 1.5vw;
    margin: 0vw 30vw 0vw -28vw;
}

.player img {
    height: 12vw;
    margin: 0vw 4vw;
}

.rankingSelect {
    width: 20vw;
    height: 5vw;
    font-size: 1vw;

    margin-left: -10vw;
    margin-right: 5vw;
}

#imgavg {
    height: 10vw;
    margin: 1vh 1vh;
  
    margin-right: 5vw;
}

#avgmmr {
    font-size: 2.0vw;
}

.avgTextWhite {
    font-size: 2.5vw;
}
}