html {
    width: 1440px;
    height: 1024px;
  }
  
  /* BODY */
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: var(--azul1);
  }
  
  /* HEADER */
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin-top: 60px;
    width: 1216px;
  }
  
  .header-buttons {
    min-width: 10.1%;
    min-height: 2%;
  }
  
  .header-buttons:hover {
    transform: scale(1.2);
    transition-duration: 500ms;
  }
  
  .header-buttons:not(:hover) {
    transform: scale(1);
    transition-duration: 250ms;
  }
  
  
  /* MAIN */
  
  main {
    height: auto;
    width: 1216px;
  }
  
  #rankingForm {
    margin-top: 66px;
    margin-bottom: 112px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* PLAYER */
  
  .player {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    height: 379px;
    width: 233px;
  
    margin-right: 12px;
    background-color: var(--azul3);
  }
  
  .player > p {
    font-family: var(--fontTitle2);
  }
  
  .player > .playersmmr-rank {
    color: var(--cinza6);
    font-size: 23px;
  
    margin-bottom: 10px;
  }
  
  .player > .playersmmr-text {
    color: var(--amarelo1);
  
    margin-bottom: 47px;
  }
  
  .player img {
    height: 140px;
    margin: 38px 46.5px 46px;
  }
  
  .rankingSelect {
    border-color: var(--cinza6);
    background-color: var(--azul3);
    color: var(--cinza6);
  
    text-align: center;
    font-family: var(--fontTitle2);
    font-weight: 800;
  }
  


  /* avgContainer */
  
  #avgContainer {
    width: 100%;
    height: 17.6%;
    background-color: var(--azul3);
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  
  }
  
  #avgContainer__average {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  #imgavg {
    height: 13.67vh;
    margin: 1vh 1vh;
  }
  
  #avgContainer__text > .avgTextWhite {
    margin-left: 81px;
  }
  
  .avgTextWhite {
    font-family: var(--fontTitle1);
    color: var(--cinza7);
  }
  
  #avgmmr {
    color: var(--amarelo1);
    font-family: var(--fontTitle2);
  }
  
  
  /* FOOTER */
  
  footer {
    width: 83.1%;
  }